{% extends 'base.html' %}

{% block content %}
    <h2>Results</h2>

    <form class="form-inline" method="GET" action="{% url 'search_recipe' %}">
        <div class="row">
            <div class="col-3">
                <input type="text" class="form-control" name="q" placeholder="Search recipe">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
    </form>

    {% if recipes %}
        <ul>
            {% for recipe in recipes %}
                <h1>{{ recipe.title }}</h1>
                <p>Author : {{ recipe.author }}</p>
                <p>Description : {{ recipe.description }}</p>
            {% endfor %}
        </ul>
    {% else %}
        <p>Recipe not found</p>
    {% endif %}
{% endblock %}

